h1, p {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

p {
    font-size: 30px;
    padding-top: 10px;
}

.title {
    color: white;
    padding-top: 400px;
    font-size: 70px;
}

.main {
    max-width: 1920px;
    margin: auto;
    background-image: url(BG.jpg);
    background-position: top;
    background-size: cover;
    height: 1000px;
}

button {
    font-size: 15px;
    padding: 15px;
    border: solid 2px white;
    background-color: transparent;
    color: white;
}

.what {
    text-align: left;
    tab-size: 35px;
    color: white;
}

.sec_what {
    background-color: black;
}

.wwhat {
    color: white;
    text-align: left;
    tab-size: 2px;
}